@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&display=swap');

body {
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

.box {
  position: relative;
}

.box::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(
    var(--gradient-angle, 0deg),
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.box-profile {
  position: relative;
}

.box-profile::after {
  content: '';
  width: 8rem;
  height: 8rem;
  position: absolute;
  border-radius: 9999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  background: linear-gradient(
    var(--gradient-angle, 0deg),
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
